<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>List of all Items</h1>
    <ul>
      <% @items.each do |item| %>
        <li> <%= link_to item.title, item_path(item) %> <%= button_to "Delete", admins_item_path(:id => item.id), :method => :delete %> </li>
      <% end %>
    </ul>
  </body>
</html>
