<h1>Enter your item here:</h1>
<h2>Please use the Ikea URL or the item's article number.</h2>

<%= form_for @item do |f|%>
	<%= f.label :item_url, "URL"%>
	<%= f.text_field :item_url %>

	<%= f.submit "Submit" %>
<% end %>
